@media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
}

::placeholder {
    color: black;
    opacity: 1;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
}

nav {
    float: left;
    width: 20%;
    height: 85.8%;
    background: rgb(173, 185, 202);
    position: relative;
}

.container {
    display: table;
    width: 66%;
    height: 80%;
    padding-left: 7%;
    padding-right: 7%;
}

.left-half {
    float: left;
    width: 33%;
    height: 80%;
    text-align: left;
    display: table-cell;
    position: relative;
}

.right-half {
    position: relative;
    float: left;
    width: 67%;
    overflow: auto;
}

hr {
    border: 2px solid black;
}

h1.topbar {
    text-align: center;
    background-color: rgb(173, 185, 202);
    height: 10%;
    padding: 1%;
    margin: 0;
    font-size: 40pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h2.subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 24pt;
}

.watermark {
    position: fixed;
    z-index: -1;
    width: 50%;
    bottom: 0;
    right: 12.5%;
    opacity:0.2;
}

.map {
    width: 34em;
    height: 24em;
    border: 3px solid black;
    object-fit: cover;
    cursor: crosshair;
    overflow: auto;
}

.marker {
    position: absolute;
    width: 4%;
    height: 5%;
    top: -2000px;
    left: -20000px;
}

button.nav {
    border: none;
    background-color: transparent;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24pt;
}

button.nav:hover {
    background-color:  rgb(132, 151, 176);
}

button.nav.final {
    position: absolute;
    bottom: 0;
    right: 0;
}

input.entry {
    width: 70%;
    margin: 4px 2px;
    font-size: 26px;
    text-align: center;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
}

button.add {
    width: 70%;
    font-size: 26px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    margin: 1%;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

.addVisit {
    height: 75%;
}

button.add.bottom1 {
    position: absolute;
    bottom: 0;
    left: 0;
}
button.add.bottom2 {
    position: absolute;
    bottom: 13%;
    left: 0;
}